$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$bgGreen: #007f7a;

.container {
  padding: 0;
}

.header {
  width: 100%;
  height: 75px;
  background: $bgGreen;
  padding-top: 5px;
}

.header .logo {
  width: 123px;
  height: 40px;
  float: left;
  margin: 0 10px 0 6px;

  a { color: #fff; text-decoration: none; }
}

.footer {
  padding: 19px 0 7px 0;
  color: #fff;
  background: $bgGreen;
  border-top: 1px solid #e5e5e5;
}

.footer-info {
  font-size: 10px;
  text-align: center;
}

.ad img {
  width: 100%;
  height: 50px;
}

.loading-overlay {
  min-height: 310px;
  text-align: center;
  display: none;

  img {
    width: 100%;
  }

  p {
    font-size: 10px;
  }
}

.section-hd {
  display: -webkit-box;
  width: 100%;
  background: #0ec3aa;
  height: 35px;
  line-height: 35px;
  position: relative;
  border-top: 1px solid #04b39b;
  text-indent: 10px;
  color: #fff;
  text-align: left;

  .section-category {
    float: left;
  }

  .section-go-back {
    float: right;
    margin-right: 20px;
    font-size: 20px;
    display: none;
  }
}

.section-data {
  padding: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid #d6d4d4;
  line-height: 28px;
  font-size: 14px;
  background: #fff;

  a {
    width: 100%;
    color: #333;
    display: block;
    line-height: 35px;
    border-bottom: 1px solid #eee;
    position: relative;
    margin-bottom: 5px;

    &, &:hover, &:active {
      text-decoration: none;
    }
  }
}
