<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>三晋就业</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/new.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/new.css">
    <!-- endbuild -->
  </head>
  <body ng-app="gollumApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="header">
        <div class="logo">
          <a href="/"><img src="images/logo.png"></a>
        </div>
      </div>
      <div class="ad">
        <img src="images/ad.gif" alt="ad">
      </div>
      <div ng-controller="msxjCtrl">
        <div class="section-hd">
         <div class="section-category">面试心经</div>
         <div class="section-go-back"><span ng-click="goHome()" class="glyphicon glyphicon-th-list"></span></div>
        </div>
        <div class="section-data">
          <div class="loading-overlay"><img src="images/loading.gif"><p>努力加载中...</p></div>
          <li ng-repeat="new in news" class="show-detail" ng-click="showDetail(new)">
            <a href="javascript:void(0)" data-id="{{new.n_id}}">{{new.n_title}}</a>
          </li>
        </div>
        <div class="detail-view">
          <div class="hd-title"></div>
          <div class="hd-meta"></div>
          <div class="hd-content"></div>
        </div>
      </div>
      <div class="footer">
        <p class="footer-info">
本站信息均由求职者、招聘者自由发布<br>
本站不承担上述原因所引起的一切争议和法律责任<br>
Copyright 2004-2014 Inc All Rights Reserved.<br>
        </p>
      </div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/msxj.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/api.js"></script>
        <script src="scripts/controllers/msxj.js"></script>
        <!-- endbuild -->
</body>
</html>
