<div class="news">
  <div class="section-hd">
   <div class="section-category" ng-bind="category"></div>
   <div class="section-go-back"><span ng-click="goHome()" class="glyphicon glyphicon-th-list"></span></div>
  </div>
  <div class="section-data">
    <li ng-repeat="new in news" class="show-detail" ng-click="showDetail(new)">
      <a href="javascript:void(0)" data-id="{{new.n_id}}">{{new.n_title}}</a>
    </li>
  </div>
  <div class="detail-view">
    <div class="hd-title"></div>
    <div class="hd-meta"></div>
    <div class="hd-content"></div>
  </div>
</div>
