<div class="zph-list" ng-controller="zphCtrl">
  <p>This is the zph-list view.招聘图片</p>
  <ul>
    <li>
      <div class="zph-info">
        <div id="zph-10" class="map-snap"></div>
        <div class="meta-info">
          <span>10yuezhaopinhui</span>
          <span>2014-09-15</span>
          <span>太原青年创业中心</span>
          <span>太原市北大街中段（阳光大酒店东200米，拱极门西100米）</span>
        </div>
      </div>
      <div class="zph-content">
        <p>乘坐869、105、59路北大街营西街口下车，102、855、803、864路小北门站下车，25路、615路北肖墙站下车。</p>
        <p>水电费水电费水电费稍等发送到 </p>\r\n<p>&nbsp;</p>
      </div>
    </li>
  </ul>
</div>
